@import "./base/base";
@import "./base/reset";

.header {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	
}

.nav {

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
	}

	&__list {
	}
}
.list {

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
	}

	&__item {

		transition: 0.3s;
	}
	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__item:hover {
		
	}
}


.home {

	
	&__container {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
	}

	&__text-title {
	}

	&__text-content {
	}

	&__text-button {
	}

	&__img {
		 img{
			 max-height: 600px;
		 }
	}
}


