@model HospitalManagmentSystem.ViewModels.UserLoginViewModel


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div class="login-row">
<div class="login-item">
    <h1 class="title">Meddical</h1>
    <p class="subtitle">© 2022 Hospital’s name All Rights Reserved by Egor Novik</p>
</div>
 <form asp-controller="Authentication" asp-action="Login" method="post" class="login-item">
    <div class="form-group">
         <label >Login: </label>
        @Html.EditorFor(x => x.Login)
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Password: </label>
        @Html.TextBoxFor(x => x.Password)
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Submit</button>
 </form>
    </div>
</body>
</html>
