@model HospitalManagmentSystem.ViewModels.UserLoginViewModel

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
<form asp-controller="Authentication" asp-action="Login" method="post">
    <div class="form-group">
        <label class="control-label">Login: </label>
        @Html.TextBoxFor(x => x.Login)
    </div>

    <div class="form-group">
        <label class="control-label">Password: </label>
        @Html.TextBoxFor(x => x.Password)
    </div>

    <input type="submit" value="Login">
</form>
</body>
</html>
