<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hospital Managment system</title>
    <meta name="description" content="Hospital Managment system">
</head>
<body>
    <h1>
        <button>Дальше</button>
    </h1>

</body>
</html>