@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
<form>
</form>
<header class="header">
    <div class="header__row">
            <h1>Med<span>dical</span></h1>
            <div class="header__info">
                <div class="info__item">
                    <img src="./img/tel-icon.svg" alt="#" />
                    <p class="info__item-text">(237) 681-812-255</p>
                </div>
                <div class="info__item">
                    <img src="./img/clock-icon.svg" alt="#" />
                    <p class="info__item-text">09:00 - 20:00 Everyday</p>
                </div>
                <div class="info__item">
                    <img src="./img/loc-icon.svg" alt="#" />
                    <p class="info__item-text">0123 Some Place</p>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="info__item">
                        <img src="./img/exit-icon.png" alt="#" />
                        <a class="info__item-text" asp-area="" asp-controller="Authentication" asp-action="LogOut">Logout</a>
                    </div>
                }
            </div>
        </div>


        <div class="background">
            <div class="menu__row">
                <ul class="menu__list">
                    <li class="menu__item"><a href="#about">About us</a></li>
                    <li class="menu__item"><a href="#doctors">Doctors</a></li>
                    <li class="menu__item"><a href="#contacts">Contact</a></li>
                    <li class="menu__item"><div class="dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="dropbtn"><a>Record</a></button>
                            <div class="dropdown-content">
                                @if (User.IsInRole(("Employee")) || User.IsInRole(("Patient")))
                                {
                                    <a asp-area="" asp-controller="Record" asp-action="Create">Create</a>
                                    <a asp-area="" asp-controller="Record" asp-action="Details">Details</a>
                                }
                                @if (User.IsInRole("Employee"))
                                {
                                    <a asp-area="" asp-controller="Record" asp-action="Delete">Delete</a>
                                    <a asp-area="" asp-controller="Record" asp-action="Edit">Edit</a>
                                }
                                @if (User.IsInRole("Patient"))
                                {
                                    <a asp-area="" asp-controller="Record" asp-action="GetPatientId">You record</a>
                                }
                                @if (User.IsInRole("Employee"))
                                {
                                    <a asp-area="" asp-controller="Record" asp-action="GetEmployeeId">You record</a>
                                }
                            </div>
                        }
                    </div></li>
                    <li class="menu__item"><a asp-area="" asp-controller="Authentication" asp-action="Login">Login</a></li>
                    <li class="menu__item"><a asp-area="" asp-controller="Authentication" asp-action="Registration">Registration</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Employee"))
                        {
                            <li class="menu__item"><a asp-area="" asp-controller="Employee" asp-action="Create">New employee</a></li>
                        }
                    }
                </ul>
               
            </div>
        </div>
    </header>

    <main class="main">
        <section class="medical">
            <div class="medical__text">
                <p class="medical__subtitle">Caring for Life</p>
                <h2 class="medical__title">
                    Leading the Way
                    in Medical Excellence
                </h2>
            </div>

        </section>
        <section class="welcome" id="about">
            <div class="welcome__text">
                <p class="welcome__subtitle">Welcome to Meddical</p>
                <h2 class="welcome__title">A Great Place to Receive Care</h2>
                <p class="welcome__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scel
                    erisque tortor ornare ornare. Quisque placerat scelerisque felis vitae tortor augue.
                    Velit nascetur Consequat faucibus porttitor enim et.
                </p>
            </div>
            <img src="/img/welcome-img.jpg" alt="#" class="welcome__img" />
        </section>
        <section class="services">
            <div class="services__text">
                <p class="services__subtitle">Care you can believe in</p>
                <h2 class="services__title">Our Services</h2>
            </div>
            <div class="services__row">
                <div class="services__item">
                    <img src="/img/services1-icon.svg" alt="#" class="item__img" />
                    <p class="item__text">Free Checkup</p>
                </div>
                <div class="services__item">
                    <img src="/img/services2-icon.png" alt="#" class="item__img" />
                    <p class="item__text">Dna Testing</p>
                </div>
                <div class="services__item">
                    <img src="/img/services3-icon.svg" alt="#" class="item__img" />
                    <p class="item__text">Blood Bank</p>
                </div>

            </div>
        </section>
        <section class="ourdoctors" id="doctors">
            <div class="ourdoctors__text">
                <p class="ourdoctors__subtitle">Trusted Care</p>
                <h2 class="ourdoctors__title">Our Doctors</h2>
            </div>
            <div class="ourdoctors__card-row">
                <div class="ourdoctors__card">
                    <img src="/img/doctor1-img.jpg" alt="Alternate Text" class="card__img" />
                    <div class="card__content">
                        <p class="card__subtitle">Doctor’s Name</p>
                        <h3 class="card__title">Neurology</h3>
                        <div class="card__link">
                            <img src="/img/link1-icon.svg" alt="Alternate Text" />
                            <img src="/img/link2-icon.svg" alt="Alternate Text" />
                            <img src="/img/link3-icon.svg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="ourdoctors__card">
                    <img src="/img/doctor2-img.jpg" alt="Alternate Text" class="card__img" />
                    <div class="card__content">
                        <p class="card__subtitle">Doctor’s Name</p>
                        <h3 class="card__title">Neurology</h3>
                        <div class="card__link">
                            <img src="/img/link1-icon.svg" alt="Alternate Text" />
                            <img src="/img/link2-icon.svg" alt="Alternate Text" />
                            <img src="/img/link3-icon.svg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="ourdoctors__card">
                    <img src="/img/doctor3-img.jpg" alt="Alternate Text" class="card__img" />
                    <div class="card__content">
                        <p class="card__subtitle">Doctor’s Name</p>
                        <h3 class="card__title">Neurology</h3>
                        <div class="card__link">
                            <img src="/img/link1-icon.svg" alt="Alternate Text" />
                            <img src="/img/link2-icon.svg" alt="Alternate Text" />
                            <img src="/img/link3-icon.svg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="contact" id="contacts">
            <p class="contact__subtitle">Get in touch</p>
            <h2 class="contact__title">Contact</h2>
            <div class="contact__row">
                <div class="contact__row-item">
                    <img src="/img/contact1-icon.svg" alt="Alternate Text" class="row-item__img" />
                    <h3 class="row-item__title">Emergency</h3>
                    <p class="row-item__text">(237) 681-812-255</p>
                    <p class="row-item__text">(237) 666-331-894</p>
                </div>
                <div class="contact__row-item">
                    <img src="/img/contact2-icon.svg" alt="Alternate Text" class="row-item__img" />
                    <h3 class="row-item__title">Email</h3>
                    <p class="row-item__text">fildineeesoe@gmil.com</p>
                    <p class="row-item__text">myebstudios@gmail.com</p>
                </div>
                <div class="contact__row-item">
                    <img src="/img/contact3-icon.svg" alt="Alternate Text" class="row-item__img" />
                    <h3 class="row-item__title">Working Hours</h3>
                    <p class="row-item__text">Mon-Sat 09:00-20:00</p>
                    <p class="row-item__text">Sunday Emergency only</p>
                </div>

            </div>
            <div class="inputBox">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5372283.997858685!2d28.76021985961581!3d48.892800964091265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3059167c9f9%3A0x621c6078128e9929!2z0KPQutGA0LDQuNC90YHQutCw0Y8g0J_RgdC40YXQuNCw0YLRgNC40YfQtdGB0LrQsNGPINCR0L7Qu9GM0L3QuNGG0LAg0KHQviDQodGC0YDQvtCz0LjQvCDQoNC10LbQuNC80L7QvA!5e0!3m2!1sru!2sby!4v1648714954104!5m2!1sru!2sby" allowfullscreen="" loading="lazy" width="800" height="400"></iframe>
            </div>

            


        </section>
        
    </main>

    <footer class="footer">
        <div class="footer__row">
            <div class="content">
                <h3 class="content__title">Meddical</h3>
                <p class="content__text">
                    Leading the Way in Medical
                    Execellence, Trusted Care.
                </p>
            </div>
            <div class="links">
                <h4 class="links__title">Important Links</h4>
                <ul class="links__list">
                    <li class="links__list-item">Appointment</li>
                    <li class="links__list-item">Doctors</li>
                    <li class="links__list-item">Services</li>
                    <li class="links__list-item">About Us</li>
                </ul>
            </div>
            <div class="contacts">
                <h4 class="contacts__title">Contact Us</h4>
                <ul class="contacts__list">
                    <li class="contacts__list-item">Call: (237) 681-812-255</li>
                    <li class="contacts__list-item">Email: fildineesoe@gmail.com</li>
                    <li class="contacts__list-item">Address: 0123 Some place</li>
                    <li class="contacts__list-item">Some country</li>
                </ul>
            </div>
        </div>
        <div class="footer__row2">
            <p class="row2__text">© 2022 Hospital’s name All Rights Reserved by Egor Novik</p>
            <ul class="row2__list">
                <li class="row2__item"><img src="/img/footer1-icon.svg" alt="Alternate Text" /></li>
                <li class="row2__item"><img src="/img/footer2-icon.svg" alt="Alternate Text" /></li>
                <li class="row2__item"><img src="/img/footer3-icon.svg" alt="Alternate Text" /></li>
            </ul>
        </div>
    </footer>
</body>
</html>
