html,
body {
	font-family: "Inter", sans-serif;
	text-transform: capitalize;
	font-size: 18px;
	line-height: 36px;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

section {
	padding: 60px;
}
